@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

#nprogress .bar {
  height: 7px !important;
  /* background-color: rgb(34, 118, 221); */
  background-color: #00dbde;
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
}

* {
font-family: 'Share Tech Mono', monospace;
}

body,html{
  color:white;
background:url("../assets/27263.jpg")no-repeat center center fixed;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:pink;
}